#textaco{
    margin-left: 300px;
    margin-right: 300px;
}

#cookies{
    position: fixed;
    height: 100px;
    background-color: darkgoldenrod;
    margin-left: 300px;
    margin-right: 300px;

}