#container{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 a{
    text-decoration: none;
    color: black;
    font-size: larger;
    text-transform:uppercase;
}


nav ul li{
    display: inline-block;
    margin-left: 50px;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: darkslategrey;
}

#photo img{
    width: 100%;
    height: 550px;
    margin: 0 auto;
}

#edificios{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 100px;
    justify-content: space-between;
    gap: 30px;
    
}

.edif{
    color: darkslategrey;
    flex: 1;
    text-align: left;
}

.edif h2{
    text-transform: uppercase;
    font-weight: lighter;
}

.more{
    background-color: orangered;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
}

.more a{
    text-decoration: none;
    color: white; 
}

.more:hover{
    background-color: #e95d3c;
}

main{
    
    width: 85%;
    margin: 0 auto;
    display: flex;
}

main section{
    flex: 1;
    color: darkslategrey;
}

main section h2{
    font-weight: lighter;
    text-transform: uppercase;
}

main section span{
    text-transform: uppercase;
}

main section p{
    margin-top: 40px;
}


main section p a{
    color: #ff0000;
    
}

.more2{
    background-color: orangered;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
}

.more2 a{
    text-decoration: none;
    color: white; 
}

.more2:hover{
    background-color: #e95d3c;
}

aside{
    color: darkslategrey;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}


aside article h2{
    font-weight: lighter;
    text-transform: uppercase;
}

aside article ul{
    list-style-type: none;
}

#izquierda{
    flex: 1;
}

#izquierda ul li{
    border-bottom: 2px solid #ddd;
    margin-top: 80px;
    display: flex;
    gap: 10px;
}

#derecha{
    flex: 1;
    
}

#derecha a{
    color: #ff0000;
}

#derecha ul li{
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-top: 30px;
}

footer{
    position: relative;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    color: #999;
    height: 100px;
    background-image: url(../images/img01.jpg);
    text-align: center;
    padding-top: 60px;
    border-top: 10px solid #ddd;
    margin-top: 100px;
}

footer a{
    text-decoration: none;
    color: #999;
}




    
