h1{
    color: #00FA9A;
}

p strong {
    color: red;
}

.destacado {
    color: orange   ;
}

#subtitulo{
    color: blue;
}

p a{
    color: red;
}

p a em{
    color: blue;
}

p .especial{
    color: purple;
}

caption{
    color: blue;
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

thead tr th{
    color: orange;
}

tfoot tr th{
    color: red;
}

tbody tr th.especial{
    color: orange;
}
tbody tr th{
    color: red;
}
tbody tr td{
    color: green;
}
tbody tr td strong{
    color: orange;
}

#adicional p{
    color: olive;
}

#adicional #especial{
    color:  fuchsia;
}

#adicional a{
    color: green;
}