#menu{
    background-color: paleturquoise;
    width: 30%;
    height: 500px;
    gap: 2px;
    padding-top: 12px;
    padding-left: 24px;
}

ul li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    width: 80%;
}

#principal{
    background-color: palegreen;
    width: 54%;
    height: 500px;
    gap: 2px;
    padding-top: 12px;
    padding-left: 24px;
}

#contenedor{
    display: flex;
    flex-wrap: nowrap;
}