body{
    width: 100%;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 500px;
    display: grid;
    grid-template-areas: "fotoC"
                          "nave";
    grid-template-columns: auto;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(129, 129, 129), lightgrey);
}

header img{
    grid-area: fotoC;
    width: 450px;
}

header nav{
    grid-area: nave;
    padding-bottom: 50px;
    
}


nav ul{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

nav ul li{
    display: inline;
}


nav a{
    text-decoration: none;
    color: white;
}

nav span a{
    color: black;
    font-weight: bolder;
}

nav a:hover:not(span a){
    color: black;
    font-weight: bolder;
}

#cabecera{
    width: 100%;
    position: relative;
}

#cabecera img{
   width: 100%;
}

#butt{
    padding-top: 45px;
    font-size: smaller;
}

#butt a{
    text-decoration: none;
    color: white;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 8px;
}

#butt a:hover{
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
    background-color: grey;
    padding: 10px;

}

#textFoto{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 33%;
    color: white;
    text-shadow: 3px 3px 3px rgb(59, 59, 59);
    font-size: x-large;
}

#textFoto h1{
    border-bottom: 4px rgb(68, 68, 68) solid;
    padding-bottom: 25px;
}

#convince{
    padding-top: 40px;
    background-image: linear-gradient(rgb(172, 171, 171), white);

}

#convince h2{
    text-align: center;
}

#convince div{
    display: grid;
}

#galeria img{
    width: 300px;
}

#convince h2{
    color: white;
    text-shadow: 2px 2px 2px black;
}

#conv img{
    width: 40px;
}

#conv{
    padding-top: 80px;
    display: grid;
    grid-template-areas: "conf seg"
                         "pers presu";
    grid-template-columns: 30% 30%;
    justify-content: center;
    gap: 40px;
}

#conf{
    grid-area: conf;
}

#seg{
    grid-area: seg;
}

#pers{
    grid-area: pers;
}

#pers{
    grid-area: presu;
}

#conv h1{
    color: white;
    text-shadow: 2px 2px 2px black;
}

#galeria h2{
    color: rgb(65, 64, 64);
    text-shadow: 2px 2px 2px rgb(156, 156, 156);
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
}

#fotos{
    text-align: center;
    display: grid;
    grid-template-areas: "escAn facAn terAn"
                         "escDes facDes terDes";
    justify-content: center;
    gap: 60px;
}

#escAn{
    grid-area: escAn;
}

#escDes{
    grid-area: escDes;
}

#facAn{
    grid-area: facAn;
}

#facDes{
    grid-area: facDes;
}

#terAn{
    grid-area: terAn;
}

#terDes{
    grid-area: terDes;
}

footer{
    display: grid;
    grid-template-areas: "poli info ffot";
    background-color: black;
    color: white;
}

#poli{
    grid-area: poli;
}


#info{
    grid-area: info;
}

#fotoFooter{
    grid-area: ffoot;
}

#fotoFooter img{
    width: 250px;
}








